<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://360social.com.br">
                <img src="assets/img/logos/360-logo.svg" alt="" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar-menu" class="navbar-menu is-static">


            <div class="navbar-end">


                <a href="#newsletter" class="navbar-item">
                    <span class="button signup-button rounded primary-btn raised">
                        Newsletter
                    </span>
                </a>

                <a href="#contato" class="navbar-item">
                    <span class="button signup-button rounded secondary-btn raised">
                        Contato
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>